@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
.App {
  font-family: Arial, sans-serif;
}

.content {
  background-color: #323232; /* Light background color */
  color: #004d99; /* Light text color */
}

/* Dark theme styles */
.App.dark .content {
  background-color: #333; /* Dark background color */
  color: #fff; /* Dark text color */
}

button {
  padding: 0.25rem 0.5rem;
  border: 2px solid rgba(55, 65, 81);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #323232;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}
